html, body{
    height: 100%;
}
body {
    background-color: #CCCCCC;
    padding-top: 80px;
}
.navbar {
    background-image: linear-gradient(to bottom,#eee,#ddd);
    border: 1px solid #bbb;
    height: 80px;
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.2);
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
}
.navItem  {
    width: 175px;
    border-left: 1px solid #bbb;
    text-align: center;
    float: right;
    cursor: pointer;
    color: #555;
    line-height: 80px;
    font-weight: bolder;
}
.navItems .navItem:hover {
    color: #730B0B;
    background-image: linear-gradient(to bottom,#ddd,#bbb);
}
@media screen and (max-width: 1370px) {
  body {
    /*background-color: red;*/
  }
  .navItem  {
    width: auto;
    padding: 0 10px 0 10px;
    /*line-height: 40px;*/
    /*border-left: 1px solid #bbb;*/
    /*border-right: 1px solid #bbb;*/
    height: 100%;
  }
}
@media screen and (max-width: 1000px) {
    .login span {
        display: none;
    }
    .login:after {
    content: 'SIGN IN';
    }
}
.logoText {
    font-family: 'Boogaloo', cursive;
    font-size: 50px;
    color: #616161;
}
.logoImage {
    height: 60px;
}
a {
    text-decoration: none !important;
}