{% extends "base.html" %}
{% load staticfiles %}

{% block header %}{% if user.is_authenticated %}
    <title>Uh Oh</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/uhOh.css' %}">
{% else %}<title>Join</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/welcome.css' %}">
{% endif %}
{% endblock header %}


{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <h1>You must have really enjoyed joining Bingether!</h1>
        <p>We're all up for some good reruns, but some things should only be watched once. Pretty sure that joining is one of them. How about some <i>Land of the Lost</i> instead?</p>
    </div>
{% else %}
    <div class="container">
        <div class="centered">
            <h1 class="row"><span class="logoText">Bingether</span></h1>
        </div>
        <div class="centered row homeBody">
            <img alt="Bingether Logo" class="img-responsive col-md-5" src="{% static 'base/media/Logo_Lg.png' %}">

            <div class="col-md-7 homeBody">
                <div class="row WWA formHeader">
                    <h2 class="col-md-6 col-md-offset-3">Join</h2>
                </div>
                <div class="row formHolder"><form class="col-md-6 col-md-offset-3 CTA" method="post" action="">{% csrf_token %}{{ form.as_p }}
                        <input type="submit" value="JOIN" class="CTAButton signInBtn">
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content%}