{% extends "base.html" %}
{% load staticfiles %}
{% block header %}<title>Join</title>{% endblock header %}
{% block content %}
<div class="container">
<div class="centered">
    <h1 class="row"><span class="logoText">Bingether</span></h1>
</div>
<div class="centered row homeBody">
    <img alt="Bingether Logo" class="img-responsive col-md-5" src="{% static 'base/media/Logo_Lg.png' %}">

    <div class="col-md-7 homeBody">
        <div class="row WWA formHeader">
            <h2 class="col-md-6 col-md-offset-3">Join</h2>
        </div>
        <div class="row formHolder"><form class="col-md-6 col-md-offset-3 CTA" method="post" action="">{% csrf_token %}{{ form.as_p }}
                <input type="submit" value="JOIN" class="CTAButton signInBtn">
            </form>

            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}