
<h1>Popular Shows</h1>
<p>Don't know what you want to watch yet? Check out one of these popular shows or start <a href="/#/search">searching</a>.</p>
<br>

<div id="resultsWrapper row">

    <div class="showResult col-md-3 col-sm-6 col-xs-7 col-xs-offset-3 col-sm-offset-0" ng-repeat="show in pc.topShows">
        <div class=" col-md-12">
            <img class="showImage img-responsive" src="{{show.artwork_448x252}}">

        </div>
        <div class="showDetails col-md-12">
            <div class="showTitle">{{show.title}}</div>
        </div>
            <div class="SEBtns col-md-12">
                <div class="showBtn pb" ng-click="pc.addPBs(show);">
                    +PERSONAL BINGES
                </div><div class="showBtn br" ng-click="pc.createBR(show);">
                    +BINGETHER REQUEST
                </div>
            </div>

    </div>

</div>
<!-- Page Specific Scripts -->
<script type="text/javascript" rel="javascript" src=""></script>