<div class="row">
    <h1 class="col-md-12">Search for a show:</h1>
</div>
<form class="row" ng-submit="pc.searchGB()">
    <div class="searchWrapper">
        <input type="text" id="searchBox" class="col-md-12" tabindex="1" name="searchBox" ng-model="pc.showTitle">
    </div>
    <input type="submit" id="submitButton" tabindex="2">
</form>
<br>
<h2 class="row">{{ pc.searchStatement }}</h2>
<div id="resultsWrapper">
    <div class="showResult row" ng-repeat="show in pc.shows">
        <img class="showImage col-md-3" src="{{show.artwork_304x171}}">
        <div class="showDetails col-md-9">
            <span class="showTitle">{{show.title}}</span>
            <span class="showYear">({{show.year}})</span>
            <div class="showOverview">
                {{show.overview}}
            </div>
        </div>

    </div>

</div>