<div class="row">
    <h1 class="searchTitle col-md-12">Search for a show:</h1>
</div>
<form class="row" ng-submit="pc.searchGB()">
    <div class="searchWrapper">
        <input type="text" id="searchBox" class="col-md-12" tabindex="1" name="searchBox" ng-model="pc.showTitle">
    </div>
    <input type="submit" id="submitButton" tabindex="2">
</form>
<br>
<h2 class="row searchStatement">{{ pc.searchStatement }}</h2>
<div id="resultsWrapper">
    <div class="showResult row" ng-repeat="show in pc.shows">
        <div class="SELeftSide col-md-3">
            <img class="showImage img-responsive" src="{{show.artwork_304x171}}">
            <div class="SEBtns">
                <div class="showBtn pb">
                    +PERSONAL BINGES
                </div><div class="showBtn br">
                    +BINGETHER REQUEST
                </div>
            </div>
        </div>
        <div class="showDetails col-md-9">
            <span class="showTitle">{{show.title}}</span>
            <span class="showYear">({{show.year}})</span>
            <div class="showOverview">
                {{show.overview}}
            </div>
        </div>

    </div>

</div>