<div class="row">
    <h1 class="col-md-12">Search for a show:</h1>
</div>
<form class="row" ng-submit="pc.searchGB()">
    <div class="searchWrapper">
        <input type="text" id="searchBox" class="col-md-12" tabindex="1" name="searchBox" ng-model="pc.showTitle">
    </div>
    <input type="submit" id="submitButton" tabindex="2">
</form>
<br>
<h2>{{ pc.searchStatement }}</h2>
<div id="resultsWrapper">
    <div class="showResult" ng-repeat="show in pc.shows">
        <img src="{{show.artwork_304x171}}"><br>
        {{show.title}}<br>
        {{show.year}}<br>
        {{show.overview}}<br>
    </div>

</div>