<div class="centered">
    <h1 class="row"><span class="logoText">Bingether</span></h1>
</div>
<div class="centered row homeBody">
    <img alt="Bingether Logo" class="img-responsive col-md-5" src="static/base/media/Logo_Lg.png">

    <div class="col-md-7 homeBody">
        <div class="row WWA">
            <span class="col-md-11 col-md-offset-1">Meet people interested in binge watching the same shows you do.</span>
        </div>
        <div class="row buttonRow">
            <div class="signIn col-md-5 col-md-offset-1 homeBody">
                <p class="CTA">Already a member?</p>
                <a class="CTAButton" href="/login/">SIGN IN</a>
            </div>
            <div class="col-md-1 homeBody"><div class="verticalDivider"></div></div>
            <div class="join col-md-5 homeBody">
                <p class="CTA">Not on Bingether?</p>
                <a class="CTAButton" href="../register">JOIN</a>
            </div>
        </div>
    </div>
</div>

<!-- Page Specific Scripts -->
<script type="text/javascript" rel="javascript" src=""></script>