{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metas -->
    <meta charSet="UTF-8">
    <base href='/'>
    {% include 'styles.html' %}
    {% if user.is_authenticated %}{% block header %}<title id="pageTitle">&lrm;</title>{% endblock header %}
    {% else %}<title>Hey there</title>
        <link type="text/css" rel="stylesheet" href="{% static 'app/css/welcome.css' %}">
    {% endif %}
</head>
<body>
    <header class=".">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navLogo col-xs-3 col-md-4 navbar-left">
                <a href="../#/" class="navbar-brand">
                    <img class="logoImage" src="{% static 'base/media/Logo.png' %}">
                </a>
                <a href="../#/" class="hidden-xs hidden-sm">
                    <p class="logoText">Bingether</p>
                </a>

            </div>
            <ul class="navbar-right col-md-8 navItems">

                {% if user.is_authenticated %}
                <a  class="navItem hidden-xs hidden-sm" href="{% url 'logout' %}">LOGOUT
                {% else %}
                <a  class="navItem login hidden-xs hidden-sm" href="{% url 'login' %}"><span>LOG IN | REGISTER</span>
                {% endif %}
                </a>
                <a  class="navItem hidden-xs hidden-sm" href="../#/search">SEARCH</a>
                <a  class="navItem hidden-xs hidden-sm" href="../#/binge_list">PERSONAL BINGES</a>
                <a  class="navItem hidden-xs hidden-sm" href="../#/my_bingethers">MY BINGETHERS</a>
                <a  class="navItem hidden-xs hidden-sm" href="../#/community">COMMUNITY</a>
            </ul>
        </div>
    </header>
    {% block content %}{% if user.is_authenticated %}
            <div class="container"  ng-app="app">
                <ng-view></ng-view>
            </div>
        {%  else %}
            <div class="container">{% include 'welcome.html' %}</div>
    {% endif %}{% endblock content %}
    <div>{% include 'scripts.html' %}</div>
</body>
</html>



