{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>


    <!-- styles -->
    <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link href='http://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>


    <!-- Project -->
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/base.css' %}">

    <!-- Metas -->
    <meta charSet="UTF-8">



    {% verbatim %}
    <title> {{ title }} </title>
    <link type="text/css" rel="stylesheet" href= {{css}} >
    {% endverbatim %}
</head>
<body  >
    <header class=".">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navLogo col-xs-4 col-md-4 navbar-left">
                <a href="#/" class="navbar-brand">
                    <img class="logoImage" src="{% static 'base/media/Logo.png' %}">
                </a>
                <a href="#/" >
                    <p id="logoText" class="hidden-xs hidden-sm">Bingether</p>
                </a>

            </div>
            <ul class="navbar-right col-md-8 navItems">
                <a  class="navItem hidden-xs hidden-sm" href="#/log_out">LOG OUT</a>
                <a  class="navItem hidden-xs hidden-sm" href="#/search">SEARCH</a>
                <a  class="navItem hidden-xs hidden-sm" href="#/binge_list">PERSONAL BINGES</a>
                <a  class="navItem hidden-xs hidden-sm" href="#/my_bingethers">MY BINGETHERS</a>
                <a  class="navItem hidden-xs hidden-sm" href="#/community">COMMUNITY</a>
            </ul>
        </div>
    </header>
    <div ng-view class="container"></div>


    <!-- scripts -->
    <!-- Framework -->
    <script type="text/javascript" rel="javascript" src="{% static 'jsframework/js/angular.1.3.15.min.js'%}"></script>
    <script type="text/javascript" rel="javascript" src="{% static 'jsframework/js/angular-route.1.3.15.js'%}"></script>
    <!-- app -->
    <script type="text/javascript" rel="javascript" src="{% static 'jsframework/js/ng/apps/app.js' %}"></script>
    <!-- controller -->
    <script type="text/javascript" rel="javascript" src="{% static 'jsframework/js/ng/controllers/mainController.js' %}"></script>
</body>
</html>



