{% load static %}

    <!-- styles -->
    <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="{% static 'base/css/bootstrap.3.3.4.min.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.3.3.4.min.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Boogaloo' rel='stylesheet' type='text/css'>
     <!-- Project -->
        <link type="text/css" rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <!-- Page -->
        <link type="text/css" rel="stylesheet" href="" id="pageCSS">