h1 {
    font-weight: 600;
    font-size: 36px;
    margin-left: -10px;
}
.searchWrapper {
    width: 80%;
    margin: 1% auto;
}
#searchBox {
    height: 50px;
    border-radius: 2em;
    font-size: 200%;
    line-height: 50px;
    margin: 0 auto;
    color: #999;
    font-weight: 500;
}
#searchBox:focus {
    outline: none;
    color: #633;
}
#submitButton {
    position: absolute;
    left: -99999px;
    width: 1px;
    height: 1px;
}
.searchStatement {
    font-size: 28px;
    font-weight: 700;
    color: #333333;
    width: 82%;
    margin: 30px auto 20px;
}
.showResult {
    /*border-bottom: 2px dotted #777;*/
    padding: 10px;
    /*width: 400px;*/
    /*display: block;*/
    /*margin: 10px auto;*/
}
/*.showResult:last-of-type {
    border-bottom: none;
}*/
.showTitle {
    color: #5b3c3c;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
    height: 26px;
    overflow: hidden;
}
.showYear {
    color: #757070;
    font-size: 18px;
    font-weight: 500;
}
.showOverview {
    padding: 10px;
    text-align: justify;
    line-height: 16px;
    font-size: 15px;
    height: 92px;
    overflow: hidden;
}

.SEBtns {
    margin-top: 8px;
}

@media screen and (max-width: 992px) {



}
.showResult {
      /* height: 500px; */
      background-image: linear-gradient(to bottom,#ddd,#bbb);
      /* width: 95%; */
      margin-top: 12px;
      /* margin-right: 2px; */
      border: 6px solid transparent;
      border-top: 27px solid transparent;
      padding-top: 0px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      background-clip: padding-box;
    }
    .showImage {
        position: relative;
        top: -20px;
        margin: 0 auto;
    }
.showBtn {
    width: 80%;
    text-align: center;
    cursor: pointer;
    color: #555;
    font-weight: 800;
    font-size: 15px;
    line-height: 17px;
    padding: 7px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,#ddd,#bbb);
    color: #730B0B;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.br {
    /*border-left: 1px dotted #777;*/

}