h1 {
    font-weight: 600;
    font-size: 36px;
    margin-left: -10px;
}
.showResult {
    padding: 2px;
    padding-bottom: 15px;
    background-image: linear-gradient(to bottom,#ddd,#bbb);
    margin-top: 12px;
    /* Gives illusion of margins */
    border: 6px solid transparent;
    border-top: 27px solid transparent;
    padding-top: 0px;

    /* Gives out of the box look */
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}
.showImage {
    position: relative;
    top: -20px;
    margin: 0 auto;
}
.showTitle {
    color: #5b3c3c;
    font-size: 20px;
    font-weight: 600;
    height: 26px;
    overflow: hidden;
}
.showYear {
    color: #757070;
    font-size: 18px;
    font-weight: 500;
    margin-left: 3px;
}
.bodyDiv {
    text-align: justify;
    line-height: 16px;
    font-size: 15px;
    padding: 8px 16px 8px;
    background-color: #ddd;

}
.bodyDiv:first-of-type {
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    padding-top: 16px;
    font-weight: 500;
}
.bodyDiv:last-of-type {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
}
.signature, .location, .dtPosted {
    padding-left: 32px;
    padding-bottom: 0px;
}
.location, .dtPosted {
    padding-top: 2px;
    padding-left: 38px;
    font-weight: 300;
}
.dtPosted {
    padding-bottom: 8px;
    border-bottom: 1px dashed #bbb;
}
.comment {
    border-bottom: 1px dashed #bbb;
}
.bodyDiv:last-of-type {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
    border-bottom: none;
    padding-bottom: 16px;
}
.SEBtns {
    margin-top: 5px;
}
.showBtn {
    width: 80%;
    text-align: center;
    cursor: pointer;
    color: #555;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    padding: 7px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,#ddd,#bbb);
    color: #730B0B;
}
.showBtn:hover {
    background-image: linear-gradient(to bottom,#bbb,#999);
    color: #d9d9d9;
    font-weight: 800;
};