form {
    width: 100%;
}
.searchWrapper {
    width: 80%;
    margin: 1% auto;
}
#searchBox {
    height: 50px;
    border-radius: 2em;
    font-size: 200%;
    line-height: 50px;
    margin: 0 auto;
}
#searchBox:focus {
    outline: none;
}
#submitButton {
    position: absolute;
    left: -99999px;
    width: 1px;
    height: 1px;
}
.showResult {
    border-bottom: 2px dotted #777;
    padding: 10px;
    width: 80%;
    /*display: block;*/
    margin: 10px auto;
}
.showTitle {
    color: #5b3c3c;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
}
.showYear {
    color: #757070;
    font-size: 18px;
    font-weight: 500;
}
.showOverview {
    padding: 10px;
    text-align: justify;
}